.subBtn {
  position: relative;
  margin-top: 20px;
  height: 30px;
  border-radius: 4px;
  border-style: none;
  margin-left: 10px;
  background-color: #5fe4fd;
  color: white;
  cursor: pointer;
}

.setInput {
  position: relative;
  height: 30px;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  width: 75%;
}
